$dark: #333333;
$gray: #808080;
$gray-light: #DADADA;
$blue: #ACE2F8;
$blue-dark: #005DA1;
$yellow: #FDD639;
$yellow-light: #FFFBC8;
$green: #B1E19B;

:root {
    --standart-color: #333333;
    --standart-font-size: 14px;
}
